#welcome-div {
    width: 70%;
    min-width: 500px;
    position: relative;
    margin: auto;
    padding: 1%;
}

#username {
    margin-top: 5%;
}

#connect-btn {
    position: relative;
    left: 90%;
}

#guess {
    width: 100%;
    position: absolute;
    top: 10px;
    font-size: 20px;
    letter-spacing: 10px;
    text-align: center;
}

#attempts {
    position: relative;
    left: 10%;
    top: 50px;
    bottom: 300px;
    font-size: 20px;
}

#letters {
    display: none;
    width: 47%;
    margin-top: 60px;
    padding: 10px;
}

.letter-button {
    width: 10%;
    position: relative;
    margin: 5px;
    padding: 3px;
    text-align: center;
}

.game-progress {
    display: none;
    width: 47%;
    height: 80%;
    position: absolute;
    top: 15%;
    left: 50%;
    margin: 2%;
    border: 1px solid #c0c0c0;
}

#game-div {
    display: none;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 35px;
    left: 5%;
    margin: auto;
}

#result {
    display: none;
    width: 80%;
    height: 70%;
    position: absolute;
    top: 30%;
    left: 10%;
    margin: auto;
}

#win-img {
    height: 75%;
    position: relative;
    left: calc(50% - 140px);
}

#winner {
    width: 100%;
    height: 20%;
    position: relative;
    text-align: center;
    font-size: 30px;
    font-family: 'Chela One';
}

.player {
    display: none;
    width: 80%;
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 30px;
    text-align: center;
}